.btn {
  padding: 10px 15px;
  background-color: #5c5cff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.praymry {
  background-color: #1b1b4d;
  color: #5c5cff;
  border: 1px solid #8989f8;
}

.full {
  width: 100%;
}
